In [23]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", 100)

In [24]:
RAW_PATH = r"C:\Documents\Portfolio\supply_chain_project\Data\Supply Chain and Sales Datasets.xlsx"     
df = pd.read_excel(RAW_PATH, engine="openpyxl")

print(df.shape)
df.head(3)

(9994, 29)

,Retail Order ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,Country,City,State,Region,latitude,longitude,Retail Sales People,Product ID,Product Name,Sub-Category,Category,Returned,Sales,Quantity,Discount,Profit,Cost,Unit CP,Unit SP,Days
0,1,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,42420,United States,Henderson,Kentucky,South,37.839333,-84.270018,Cassandra Brandow,FUR-BO-10001798,Bush Somerset Collection Bookcase,Bookcases,Furniture,Not,261.96,2,0.0,41.9136,220.0464,110.0232,130.98,92
1,2,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,42420,United States,Henderson,Kentucky,South,37.839333,-84.270018,Cassandra Brandow,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Chairs,Furniture,Not,731.94,3,0.0,219.5820,512.3580,170.7860,243.98,92
2,3,CA-2016-138688,2016-12-06,2016-12-06,Second Class,DV-13045,Darrin Van Huff,Corporate,90036,United States,Los Angeles,California,West,36.778261,-119.417932,Anna Andreadi,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,Labels,Office Supplies,Not,14.62,2,0.0,6.8714,7.7486,3.8743,7.31,0

In [25]:
#standardized column names
df.columns = (
    df.columns.str.strip()
              .str.lower()
              .str.replace(" ", "_")
              .str.replace("-", "_")
)
df.columns.tolist()

['retail_order_id',
 'order_id',
 'order_date',
 'ship_date',
 'ship_mode',
 'customer_id',
 'customer_name',
 'segment',
 'postal_code',
 'country',
 'city',
 'state',
 'region',
 'latitude',
 'longitude',
 'retail_sales_people',
 'product_id',
 'product_name',
 'sub_category',
 'category',
 'returned',
 'sales',
 'quantity',
 'discount',
 'profit',
 'cost',
 'unit_cp',
 'unit_sp',
 'days']

In [26]:
#Check for expected columns
expected = {
    "retail_order_id","order_id","order_date","ship_date","ship_mode","customer_id","customer_name",
    "segment","postal_code","country","city","state","region","latitude","longitude",
    "retail_sales_people","product_id","category","sub_category","product_name","returned",
    "sales","quantity","discount","profit","cost","unit_cp","unit_sp","days"
}
missing = expected - set(df.columns)
extra   = set(df.columns) - expected
print("Missing:", missing)
print("Extra:", extra)

Missing: set()
Extra: set()

In [27]:
# Parse dates & compute delivery_days (as cross-check)
for c in ["order_date","ship_date"]:
    df[c] = pd.to_datetime(df[c], errors="coerce")

# if "days" exists, keep both to compare; otherwise create it
df["delivery_days_calc"] = (df["ship_date"] - df["order_date"]).dt.days
df[["days","delivery_days_calc"]].head(10)

   days  delivery_days_calc
0    92                  92
1    92                  92
2     0                   0
3     0                   0
4     0                   0
5     0                   0
6     0                   0
7     0                   0
8     0                   0
9     0                   0

In [28]:
# Coerce numeric columns
num_cols = ["sales","quantity","discount","profit","cost","unit_cp","unit_sp","latitude","longitude","days","delivery_days_calc"]
for c in num_cols:
    if c in df.columns:
        df[c] = pd.to_numeric(df[c], errors="coerce")

df[num_cols].describe(include="all").T

,count,mean,std,min,25%,50%,75%,max
sales,9994.0,229.858001,623.245101,0.444000,17.280000,54.490000,209.940000,22638.480000
quantity,9994.0,3.789574,2.225110,1.000000,2.000000,3.000000,5.000000,14.000000
discount,9994.0,0.156203,0.206452,0.000000,0.000000,0.200000,0.200000,0.800000
profit,9994.0,28.656896,234.260108,-6599.978000,1.728750,8.666500,29.364000,8399.976000
cost,9994.0,201.201105,550.839414,0.554400,12.688200,41.664000,182.226300,24449.558400
unit_cp,9994.0,53.120197,122.251398,0.544500,3.473600,12.933600,54.522000,4074.926400
unit_sp,9994.0,60.919569,142.927440,0.336000,5.470000,16.270000,63.940000,3773.080000
latitude,9994.0,38.519631,4.755970,27.664827,35.759573,37.964253,41.603221,47.751074
longitude,9994.0,-94.773589,17.683029,-120.740139,-119.417932,-89.398528,-78.656894,-69.445469
days,9994.0,34.609065,55.058389,0.000000,2.000000,4.000000,61.000000,214.000000
delivery_days_calc,9994.0,34.609065,55.058389,0.000000,2.000000,4.000000,61.000000,214.000000

In [29]:
#Quick quality checks
# duplicates
dupes = df.duplicated(subset=["retail_order_id","order_id"], keep=False).sum()
print("Duplicate order rows:", dupes)

# missingness
nulls = df.isna().mean().sort_values(ascending=False)
nulls.head(15)

Duplicate order rows: 0

retail_order_id    0.0
order_id           0.0
order_date         0.0
ship_date          0.0
ship_mode          0.0
customer_id        0.0
customer_name      0.0
segment            0.0
postal_code        0.0
country            0.0
city               0.0
state              0.0
region             0.0
latitude           0.0
longitude          0.0
dtype: float64

In [30]:
# Normalize categoricals (trim/case)
cat_cols = ["ship_mode","segment","country","city","state","region","category","sub_category","returned","retail_sales_people"]
for c in cat_cols:
    if c in df.columns:
        df[c] = df[c].astype(str).str.strip().str.title()

# ensure returned is Yes/No
if "returned" in df.columns:
    df["returned"] = df["returned"].str.strip().str.lower().map({"yes":"Yes","y":"Yes","no":"No","n":"No"}).fillna(df["returned"])
df[cat_cols].head(3)

,ship_mode,segment,country,city,state,region,category,sub_category,returned,retail_sales_people
0,Second Class,Consumer,United States,Henderson,Kentucky,South,Furniture,Bookcases,Not,Cassandra Brandow
1,Second Class,Consumer,United States,Henderson,Kentucky,South,Furniture,Chairs,Not,Cassandra Brandow
2,Second Class,Corporate,United States,Los Angeles,California,West,Office Supplies,Labels,Not,Anna Andreadi

In [31]:
# Business rule validations (create flags, don’t drop yet)
checks = pd.DataFrame()

# profit consistency: profit ≈ sales - cost (within small tolerance)
checks["profit_mismatch"] = np.isclose(df["profit"], df["sales"] - df["cost"], atol=1e-6) == False

# unit price sanity: unit_sp * quantity ≈ sales; unit_cp * quantity ≈ cost
checks["sales_mismatch"] = np.isclose(df["unit_sp"] * df["quantity"], df["sales"], atol=1e-6) == False
checks["cost_mismatch"]  = np.isclose(df["unit_cp"] * df["quantity"], df["cost"], atol=1e-6) == False

# non-negative fields
checks["negative_qty"]   = df["quantity"] < 0
checks["negative_cost"]  = df["cost"] < 0
checks["negative_sales"] = df["sales"] < 0

# delivery days sanity
checks["delivery_neg"]   = df["delivery_days_calc"] < 0
checks["days_disagree"]  = ~np.isclose(df["days"], df["delivery_days_calc"], equal_nan=True)

checks_summary = checks.sum().sort_values(ascending=False)
checks_summary

profit_mismatch    0
sales_mismatch     0
cost_mismatch      0
negative_qty       0
negative_cost      0
negative_sales     0
delivery_neg       0
days_disagree      0
dtype: int64

In [32]:
# Fix low-risk issues
# 1) If 'days' is missing but calc is available, fill it. If both exist but disagree, prefer the calculated value.
if "days" in df.columns:
    df["days"] = df["days"].fillna(df["delivery_days_calc"])
    mask_disagree = (~df["days"].isna()) & (~df["delivery_days_calc"].isna()) & (df["days"] != df["delivery_days_calc"])
    df.loc[mask_disagree, "days"] = df.loc[mask_disagree, "delivery_days_calc"]
else:
    df["days"] = df["delivery_days_calc"]

# 2) Clip obviously impossible negatives for quantity / cost / sales (optional; you can review first)
for c in ["quantity","cost","sales"]:
    if c in df.columns:
        df.loc[df[c] < 0, c] = np.nan

In [33]:
# Derive helpful fields
# on_time: <= SLA by ship_mode (example thresholds; tweak as desired)
sla = {"Standard": 7, "Express": 3, "Same-Day": 0}
df["sla_days"] = df["ship_mode"].map(sla).fillna(7)
df["on_time"]  = (df["days"] <= df["sla_days"]).astype(int)

# margin & margin_rate
df["margin"] = df["sales"] - df["cost"]
df["margin_rate"] = np.where(df["sales"]>0, df["margin"]/df["sales"], np.nan)

# return_flag as 0/1
if "returned" in df.columns:
    df["return_flag"] = (df["returned"] == "Yes").astype(int)

df[["days","sla_days","on_time","margin","margin_rate","return_flag"]].head(10)

   days  sla_days  on_time    margin  margin_rate  return_flag
0    92       7.0        0   41.9136       0.1600            0
1    92       7.0        0  219.5820       0.3000            0
2     0       7.0        1    6.8714       0.4700            0
3     0       7.0        1 -383.0310      -0.4000            0
4     0       7.0        1    2.5164       0.1125            0
5     0       7.0        1   14.1694       0.2900            0
6     0       7.0        1    1.9656       0.2700            0
7     0       7.0        1   90.7152       0.1000            0
8     0       7.0        1    5.7825       0.3125            0
9     0       7.0        1   34.4700       0.3000            0

In [34]:
# Light outlier tagging (not removal)
# Build derived fields in snake_case
df["margin"] = df["sales"] - df["cost"]
df["margin_rate"] = (df["margin"] / df["sales"]).where(df["sales"] != 0)

facts = ["sales","quantity","margin_rate","days"]
existing = [c for c in facts if c in df.columns]
print("Checking:", existing)

for c in existing:
    q1, q3 = df[c].quantile([0.25, 0.75])
    iqr = q3 - q1
    low, high = q1 - 1.5*iqr, q3 + 1.5*iqr
    df[f"{c}_outlier"] = ((df[c] < low) | (df[c] > high)).astype(int)

df.filter(regex="outlier$").sum()

Checking: ['sales', 'quantity', 'margin_rate', 'days']

sales_outlier          1167
quantity_outlier        170
margin_rate_outlier     952
days_outlier            847
dtype: int64

In [41]:
# Finalize cleaned dataset
# drop helper column used only for comparison
df_clean = df.drop(columns=[c for c in ["delivery_days_calc"] if c in df.columns]).copy()

OUT_PATH = r"C:\Documents\Portfolio\supply_chain_project\Data\supply_chain_clean.csv"
df_clean.to_csv(OUT_PATH, index=False)
OUT_PATH, df_clean.shape

('C:\\Documents\\Portfolio\\supply_chain_project\\Data\\supply_chain_clean.csv',
 (9994, 38))

In [42]:
# Data quality summary to save alongside the clean file
quality_report = {
    "rows": int(df_clean.shape[0]),
    "cols": int(df_clean.shape[1]),
    "null_pct_top15": df_clean.isna().mean().sort_values(ascending=False).head(15).to_dict(),
    "checks_summary": checks.sum().to_dict()
}

pd.Series(quality_report)

rows                                                           9994
cols                                                             38
null_pct_top15    {'retail_order_id': 0.0, 'order_id': 0.0, 'ord...
checks_summary    {'profit_mismatch': 0, 'sales_mismatch': 0, 'c...
dtype: object